
.color1{
    background-color: yellow;
    height: 50px;

}
.color2{
    background-color: blue;
    height: 50px;

 }
.color3{
    background-color: gray;
    height: 50px; 
 
}
.color4{
    background-color: rgb(128, 0, 75);
    height: 50px;
}
.color5{
    background-color: orange;
    height: 50px;

}
.color6{
    background-color: gray;
    height: 50px;
}
@media print {
    .color1{
        display: none;
    }
}